.map-container {
      padding: 20px;
      width: 600px;
};

.product-container {
      outline: 20px;
      color: white;
      background-color: white;
      /* padding: 50px; */
      height: 800px;
      width: 800px;
};

.testing {
      background-color: white;
      height: 800px;
};